.kati_stamp*
.ninja_log
.ninja_deps
ckati
out/
__pycache__/
*.pyc
build.*.ninja
ckati-sanitized
env.*.sh
ninja.*.sh
ckati.before-current-rebuild
foo
testcase/.kati_stamp
testcase/build.ninja
testcase/dump/include_smoke/nop
validation/logs/
